.health-time {

    display: flex;

    flex-direction: row;

    justify-content: space-around;

    max-width: 1024px;

}

.healthbar-div {

    width: 400px;

    height: 50px;

    transition: all ease-in-out 0.2s;

    background-color: #222;

}

.match-win {

    top: 20%;

    position: absolute;

    color: #000;

    font-size: 40px;

    z-index: 1;

}